body {
	margin: 1rem;
}

/* Text styles */

h1 {
	font-family: "Momo Trust Display", sans-serif;
	font-weight: 400;
	font-style: normal;
}

p,
a,
small {
	font-family: "Momo Trust Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}

a {
	color: black;
	text-decoration: none;
}

.bold {
	font-weight: 600;
}

/* Header */

header {
	position: sticky;
	top: 0;
	background-color: white;
	margin-bottom: 6vh;
}

.site-nav {
	display: flex;
	align-items: center;
}

.logo {
	height: 2rem;
}

.site-nav ul {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-grow: 1;
}

.site-nav li {
	margin-left: 8vw;
}

.site-nav a {
	font-size: 1.2rem;
	font-weight: 600;
}

.site-nav li:last-child {
	margin-left: auto;
	margin-right: 3vw;
}

.heart-icon {
	height: 1.5rem;
}

/* Gallery grid (index.html) */

.art-grid {
	display: grid;
	/* Line below is for a responsive grid without media queries */
	/* grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr)); */
	grid-template-columns: 1fr;
}

@media screen and (min-width: 450px) {
	.art-grid {
		grid-template-columns: 1fr 1fr;
		column-gap: 1vw;
	}
}

@media screen and (min-width: 700px) {
	.art-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

.art-container {
	display: grid;
	grid-template-columns: 1fr;
}

.heart-outline {
	width: 1.6rem;
	grid-area: 1 / 1;
	justify-self: end;
	margin: 1vw;
}

.art-container a {
	grid-area: 1 / 1;
}

.artwork {
	width: 100%;
}

/* Artwork page (artwork.html) */

.artwork-1 {
	width: 50%;
}

/* Favorites page (favorites.html) */

.fav-grid {
	display: grid;
	gap: 1vw;
	grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}

/* Footer */

footer {
	margin-top: 1.5rem;
	display: flex;
	justify-content: center;
}
